body 
{
    font-family: Helvetica, arial, sans-serif;
    font: small-caption;
    background: white;
    color: black;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

body.ie
{
    font: menu;
}

noscript
{
    color: red;
    font-size: 20px;
    text-align: center;
}

#dialogBoxes
{
    display: none;
}
.spanNSFW img
{
    cursor: default;
}

#feed
{
    margin: 0 auto;
    padding: 10px;
    padding-top: 0px;
    text-align: center;
    max-width: 960px;
}

#fixedBar 
{
    display: none;
    position: fixed;
    margin: 0 auto;
    max-width: 960px;
    outline: yellow 1px solid;
}

#fixedToolBar 
{  
     background: green;
    left: 0px;
    right: 0px;
}

#shareBar
{
  display: none;
  position: fixed;
  bottom: 0px;
  left: 40px;
  right: 40px;
  overflow: hidden;
  border: 1px solid black;
  background: white;
  z-index: 110;    
}

#shareBar .buttons
{
  position: absolute;
  right: 20px;
  top: 10px;
}

#closeShareBar
{
  position: absolute;
  border: 0px;
  right: 0px;
  top: 5px;
  font-weight: bold;
  background-color: white;  
}

a.share 
{
    background: url("images/fb.png") no-repeat;
    padding-left: 16px;
    background-position: 1px 2px;
    cursor: pointer;
}

a.pinterest 
{
    background: url("images/pinit.png") no-repeat;
    padding-left: 16px;
    background-position: 1px 1px;
    cursor: pointer;
}

a.tweet 
{
    background: url("images/tweet.png") no-repeat;
    padding-left: 19px;
    background-position: 1px 2px;
    cursor: pointer;
}

#closeShareBar:hover
{
  color: red;  
}

#shareBar strong
{
  line-height: 30px;
  margin-left: 10px;
}

#shareBar .titleBar
{
  left: 1px;
  right: 1px;
  top: 1px;
  background-color: #F2B100;
  height: 6px;
}


.image
{
    position: relative;
    margin-top: 30px;
    display: block;
    background-color: #ECECEC;
   /* border:1px solid #888;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border-radius: 5px; 
    
    
    background: #fff url(ogradient.png) no-repeat;
    -o-background-size: 100% 100%; 
    -webkit-background-size: 100% 100%; 
    -khtml-background-size: 100% 100%; 
    background-size: 100% 100%;

    background: -webkit-gradient(linear, left top, left bottom, to(white), from(#ECECEC));
    background: -moz-linear-gradient(center top, #ECECEC, white);
    background: -o-gradient(linear, left top, left bottom, from(#ECECEC), to(white));
    background: gradient(linear, left top, left bottom, from(#ECECEC), to(white));
    */
    background-color: #FAF9FC;
    border: 0px;
    
    /*
         -moz-transform: rotate(358deg);
      -moz-transform-origin: 50% 50%;
      -webkit-transform: rotate(358deg);
      -webkit-transform-origin: 50% 50%;
      -o-transform: rotate(358deg);
      -o-transform-origin: 50% 50%;
      transform: rotate(358deg);
      transform-origin: 50% 50%;
      */
      
    -moz-box-shadow: 0 0 10px #EAEAEA;
    -webkit-box-shadow: 0 0 10px #EAEAEA;
    box-shadow: 0 0 5px #EAEAEA;    
}

#tabBarTop
{
    position: relative;
    height: 50px;
    background-color: #CEE3F8;
    background: -webkit-gradient(linear, left top, left bottom, from(#EFF7FF), to(#CEE3F8));
    background: -moz-linear-gradient(center top, #EFF7FF, #CEE3F8);
    background: -o-gradient(linear, left top, left bottom, from(#EFF7FF), to(#CEE3F8));
    background: gradient(linear, left top, left bottom, from(#EFF7FF), to(#CEE3F8)); 
    margin-top: 24px;
    border-bottom: 1px solid #5F99CF;
}

#tabBarTop .tabs
{
   position: absolute;
   bottom: 5px;
   left: 10px;
   right: 0px;
   text-align: center;
}

#tabBarTop a
{
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    background: #EFF7FF;
    text-decoration: none;
    color: #336699;
    border-radius: 5px; 
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 1px solid #5F99CF;
}

#tabBarTop h1
{
    position: absolute;
    color: #EFF7FF;
    right: 10px;
    line-height: 50px;
    margin: 0px;
    padding: 0px;
    font-size: 30px;
    opacity: 0.6;
}

#tabBarTop h1 a
{
    text-decoration: none;
    background-color: transparent;
    color: #EFF7FF;
    border-bottom: 0px;
}

#tabBarTop .selected
{
    background: white;
    color: #FF4500;
    font-weight: bold;
    border-left: 1px solid #5F99CF;
    border-right: 1px solid #5F99CF;
    border-top: 1px solid #5F99CF;
    border-bottom: 1px solid white;
}

.image div
{   
    position: relative; 
    display: block;
    padding-top: 20px;
    text-align: center;
    z-index: 1;
}

.image img
{
    position: relative;
    top: -5px;
    border:1px solid rbga(100, 100, 100, 0.5);
    max-width: 90%;
    -moz-transition: all .25s ease-in ;
    -o-transition: all .25s ease-in ;
    -webkit-transition: all .25s ease-in ;   
    transition: all .25s ease-in;
    
    /*
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    border-radius: 4px;
*/
    -moz-box-shadow: 0 0 10px #CCCCCC;
    -webkit-box-shadow: 0 0 10px #CCCCCC;
    box-shadow: 0 0 10px #CCCCCC;
}

img.cursorPlus
{
    cursor: url("lensplus.cur"), default;
}

img.cursorMinus
{
    cursor: url("lensminus.cur"), default;
    max-width: 200%; 
}

.image div > a
{
    color: #808080;
    font-size: 15px;
    text-decoration: none;
    max-width: 850px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    z-index: 1;
    position: absolute;
    /*
    display: block;
    
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
    
    text-shadow: 2px 2px 2px #DBDBDB;
     */
}

#tips
{
    text-align: left;
    margin-top: 2px;
    position: absolute;
    bottom: 4px; 
 /*   opacity: 0.3; */
}

#tips span
{
    border-radius: 2px;
    padding: 2px;
    color: gray;
   
}

#pnlNavigation
{
    /*
    margin-top: 30px;
*/  top: 0px;
    text-align: center;
    position: fixed;
    width: 100%;
    background-color: White;
    z-index: 100;
    border-bottom: 1px solid #B6BAC0;
    margin-top: 0px;
    padding: 5px;
    
    background-color: #F9FAF9;
    background: -webkit-gradient(linear, left top, left bottom, from(#F9FAF9), to(#E4E5E5));                
    background: -moz-linear-gradient(top center, #F9FAF9, #E4E5E5);
    background: -o-linear-gradient(top, #F9FAF9, #E4E5E5);
    background: -o-gradient(linear, left top, left bottom, from( #F9FAF9), to(#E4E5E5));
    background: gradient(linear, left top, left bottom, from(#F9FAF9), to(#E4E5E5));
    box-shadow: 0px 1px 2px white;
    
   /* text-transform: uppercase; */
}

#pnlEdit
{
   text-transform: uppercase;
   font-weight:  bold;
   right: 0px;
   position: fixed;
   padding: 5px;
   z-index: 101;
   border-left: 1px ridge #B6BAC0;
   top: 0px;
   text-decoration: none;
   color: black;
   display: none;
}

#leftToolbar
{
  position: fixed;
  border: 1px solid #B6BAC0;
  border-bottom: 0px;
  border-right: 0px;
  background: -webkit-gradient(linear, left top, 
                left bottom, to(#F9FAF9), from(#E4E5E5));
                
  background: -moz-linear-gradient(top center, #F9FAF9, #E4E5E5);
  background: -o-gradient(linear, left top, left bottom, from(#F9FAF9), to(#E4E5E5));
  background: gradient(linear, left top, left bottom, from(#F9FAF9), to(#E4E5E5));
  padding: 3px; 
  z-index: 101;
  right: 0px;
  bottom: 0px;
  border-top-left-radius: 3px;
 /*  box-shadow: -1px -1px 1px #888; */
}

#leftToolbar a 
{
  margin-left: 10px;
  text-decoration: none;
  color: Gray;
}

#leftToolbar .selected
{
  font-weight: bold;
}

#pnlNavigation a, #navBottom a
{
    font-size: 11px;
    color: black;
    margin-right: 10px;
    text-decoration: none;
    -moz-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;   
    transition: all .5s ease-in;
}

#navBottom a 
{
    font-size: 15px;
}

#pnlNavigation a:hover
{
    position: relative;
    color: gray;
    text-shadow: 2px 2px 2px #bababa;
}

#navBottom a:hover 
{
    text-decoration: underline;
}

#pnlNavigation a.selected
{
    font-weight: bold;
    text-decoration: underline;
}

div.storyInfo
{
    position: absolute;
    top: 0px;
    left: 0px;
    background: transparent;
    height: 52px;
    padding: 0px;
    /* margin: 5px;
   
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    border-top: 0px solid #F6F4F4;
    border-left: 0px solid #F6F4F4;
    border-bottom: 1px dotted #CBCBCB;
    border-right: 0px solid #CBCBCB;
    border-radius: 5px; 
    opacity: .7; 
    */
    -o-transition: opacity .5s ease-in;
    -webkit-transition: opacity .5s ease-in;   
    transition: opacity .5s ease-in;
    -moz-transition: opacity .5s ease 1s;
    padding-left: 110px;
    /*
    background: -webkit-gradient(linear, left top, 
                left bottom, from(rgba(255,255,255,1)), to(rgba(230,230,230,1)));
                
    background: -moz-linear-gradient(top center, rgba(255,255,255,1), rgba(230,230,230,1));
    background: -o-gradient(linear, left top, left bottom, from(#ECECEC), to(white));
    background: gradient(linear, left top, left bottom, from(#ECECEC), to(white));
    
    opacity: 1; 
    */
    text-align: left;
}

div.storyInfo a
{
    text-decoration: none;
}

div.storyInfo a:hover
{
    text-decoration: underline;
}

div.storyInfo span
{
    display: block;
    /*margin-left: 95px;
    padding-top: 6px;
*/
}
div.storyInfo span.submittedby
{
    padding-top: 27px;
    padding-bottom: 3px;
}

.submittedby
{
    font-size: 10px;
    color: gray;
}

.submittedby a
{
    color: #336699;
}

.links
{
    font-weight: bold;
    color: gray;
    margin-top: 2px;
}

.commentsLinks a
{
    color: gray;
}

div.storyInfo:hover
{
    opacity: 1; 
}


div.storyInfo iframe.ifrmReddit
{
    position: absolute;
    top: 5px;
    left: 5px;
  /*  padding-right: 20px;
    border-right: 1px solid white; */
}

div.storyInfo iframe.ifrmTwitter
{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width:130px; 
    height:25px;
}

div.storyInfo iframe.ifrmFacebook
{
    position: absolute;
    top: 0px;
    right: 0px;
    width:130px; 
    height:25px;
}

#navBottom
{
    text-align: center;
    margin: 0 auto;
    max-width: 960px;
	margin-top: 30px;
	padding-bottom: 30px;
	position: relative;
	z-index: 10000;
}

#lnkPrevious
{
    float: left;
    margin-left: 10px;
}

#lnkNext
{
    float: right;
    margin-right: 10px;
}

#copyRight
{    
    color: gray; 
    border-bottom: 0px;
    padding: 10px;
    text-align: center;
}

#copyRight:hover
{
    opacity: 1;
}

#copyRight span 
{
    display: block;
    padding: 5px;
}

#copyRight abbr
{
    border-bottom: 1px dotted gray;
}

#switchNSFW
{
  background: #87000E;
  color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  border: 1px solid #980010;
  border-top: 0px;
  border-left: 0px;
  z-index: 100;
  padding: 5px;
  padding-left:8px;
  padding-right: 8px;
  
  background: -webkit-gradient(linear, left top, left bottom, from(#E76C79), to(#87000E));
  background: -moz-gradient(linear, left top, left bottom, from(#E76C79), to(#87000E));
  background: -o-gradient(linear, left top, left bottom, from(#E76C79), to(#87000E));
  background: gradient(linear, left top, left bottom, from(#E76C79), to(#87000E));
  
  /*
  -webkit-border-radius: 0px 0px 6px 0px;     
  -moz-border-radius: 0px 0px 6px 0px;
  border-radius: 0px 0px 6px 0px;
*/ 
 text-decoration:none;
  
  text-shadow: #980010 1px 1px 1px;
  filter: dropshadow(color=#980010,offX=0,offY=1);
  display: none;
}

.imageNSFW
{
    cursor: pointer;
    position: absolute;
    top: 60px;
}

.spanNSFW
{
    background-color: rgba(200,0,0,0.2);
    background-image: url("images/nsfwtrans.png");
    cursor: pointer;
}

#tabCats
{
    position: fixed;
    top: 0px;
    left: 10px;
    right: 10px;
    text-align: center;
    z-index: 100; 
}

#tabCats span
{
    display: inline-block;
    
    color: #B6BAC0;
    background: #DFDFDF;
   /* text-shadow: white  1px 1px 1px;
    filter: dropshadow(color=white,offX=0,offY=1); */
    border: 1px solid #B6BAC0;
    border-top: 0px;
    padding: 4px;
    -webkit-border-bottom-right-radius: 2px;       
    -webkit-border-bottom-left-radius: 2px;       
    -moz-border-radius: 0px 0px 2px 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    
  background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#E4E4E5));
  background: -moz-gradient(linear, left top, left bottom, from(#FAFAFA), to(#E4E4E5));
  background: -o-gradient(linear, left top, left bottom, from(#FAFAFA), to(#E4E4E5));
  background: gradient(linear, left top, left bottom, from(#FAFAFA), to(#E4E4E5));
  
  -moz-box-shadow: 2px 2px 4px #DFDFDF;
  -webkit-box-shadow: 2px 2px 4px #DFDFDF;
  box-shadow: 2px 2px 4px #DFDFDF;
    /*
    -moz-transform: rotate(270deg);
  -moz-transform-origin: 0% 50%;
  -webkit-transform: rotate(270deg);
  -webkit-transform-origin: 0% 50%;
*/
display: none;
}


div.title 
{
    border-bottom: 1px #EAEAEA solid;
    /* padding-bottom: 20px; */
    height: 65px;
    margin: 0px;
    padding: 0px;
    text-align: left;
    padding-left: 110px;
    padding-top: 5px;
}

div.imgContainer 
{
    border-top: 1px solid white;
}

#btnTop {
	position: fixed;
	right: 10px;
	bottom: 0px;
	
	width: 50px;
	height: 40px;
	
	background-color: #F9FAF9;
	background: gradient(linear, left top, left bottom, from(#F9FAF9), to(#E4E5E5));
	background: -webkit-gradient(linear, left top, left bottom, from(#F9FAF9), to(#E4E5E5));
	background: -moz-linear-gradient(top center, #F9FAF9, #E4E5E5);
	background: -o-linear-gradient(top, #F9FAF9, #E4E5E5);
	background: -o-gradient(linear, left top, left bottom, from( #F9FAF9), to(#E4E5E5));
	background: gradient(linear, left top, left bottom, from(#F9FAF9), to(#E4E5E5));
	border-radius: 4px;

	box-shadow: rgba(34, 25, 25, 0.5) 0px 1px 3px 0px;
	cursor: pointer;

	text-align: center;
	text-decoration: none;
	text-shadow: rgba(255, 255, 255, 0.9) 0px 1px 0px;
	
	line-height: 40px;
	color: gray;
	bottom: -1px;
	display: none;
	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}

#btnTop :hover {
	text-decoration: none;
}

.panelPrevious,
.panelNext {
	position: fixed;
	top: 100px;
	bottom: 50px;
	font-size: 150px;
	color: #DADADA;
	opacity: 0.3;
	width: 160px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.panelPrevious span,
.panelNext span {
	position: absolute;
	top: 50%;
	margin-top: -110px;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
	opacity: 0;
	cursor: pointer;
}

.panelPrevious span {
	left: 0px;
}

.panelNext span {
	right: 0px;
}

.panelPrevious span:active,
.panelNext span:active {
	color: black;
}

.panelPrevious:hover span,
.panelNext:hover span  {
	opacity: 1;
}



.panelPrevious {
	left: 0px;
}

.panelNext{
	right: 0px;
	text-align: right;
}

.betaMessage {
	margin: 0 auto;
	width: 400px;
	background-color: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 10px;
	margin-top: 30px;
	padding-left: 20px;
	border-radius: 10px;
}

#switchBack {
	position: fixed;
	top: 3px;
	left: 3px;
	z-index: 100;
}

#switchBack a {
	text-decoration: none;
}

#switchBack a:hover {
	text-decoration: underline;
}